<mat-card>
  <mat-card-header>
    <h1>Autres</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let annonce of annonces">
      <mat-card-content>
        <div class="major">
          <p label="id">{{ annonce.id }}</p>
          <p label="name">{{ annonce.name }}</p>
          <p label="product_type">{{ annonce.product_type }}</p>
          <p label="price">{{ annonce.price }}</p>
        </div>
        <div class="minor">
          <p label="quantity">{{ annonce.quantity }}</p>
          <p label="description">{{ annonce.description }}</p>
          <p label="product_type">{{ annonce.product_type }}</p>
          <p label="image_path">{{ annonce.image_path }}</p>
        </div>
        <img src="{{ annonce.image_path }}" /> </mat-card-content
    ></mat-card>
  </mat-card-content>
</mat-card>
