<mat-card>
  <mat-card-header>
    <h1>Autres</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor="let annonce of annonces">
      <mat-card-content>
        <div class="major">
          <h1 label="name">{{ annonce.name }}</h1>
          <p label="product_type">{{ annonce.product_type }}</p>
          <p label="price">{{ annonce.price }}</p>
        </div>
        <div class="minor">
          <p label="quantity">{{ annonce.quantity }}</p>
          <p label="description">{{ annonce.description }}</p>
          <p label="product_type">{{ annonce.product_type }}</p>
          <p label="image_path">{{ annonce.image_path }}</p>
        </div>
        <img
          src="http://localhost:3300/{{
            annonce.image_path.replace('\'', '/')
          }}"
        /> </mat-card-content
    ></mat-card>
  </mat-card-content>
</mat-card>
