footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: #252840;

  color: white;
  font-family: "Jumble", sans-serif;
}

header {
  z-index: 1;
  position: fixed;
}

mat-grid-tile {
  position: fixed;
  min-height: 50vh;
}
.mat-grid-tile-header {
  background-color: #252840 !important;
  height: 15%;
}
#mat-grid-list {
  padding: 0;
  position: fixed;
}
a {
  display: inline;
  padding: 15px;
  font-size: 20px;
}
a:link,
a:visited,
a:hover,
A:active {
  text-decoration: none;
}

section {
  display: table;
}

.inputField {
  text-align: center;
  margin-top: 10% !important;
}
.label {
  font-size: 22px !important;
  margin-left: 6px;
  min-width: 10%;
  font-family: "Jumble", sans-serif;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

mat-form-field {
  justify-content: space-between;
  margin: 8px 8px 8px 0;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 15%;
}

.clear {
  clear: both;
  height: 10%;
}
@font-face {
  font-family: "Jumble";
  src: url("/assets/fonts/Jumble.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
