<mat-grid-list cols="1" rowHeight="60px">
  <mat-grid-tile>
    <mat-grid-tile-header>
      <div class="label">Buy Smart</div>
      <div class="button-row">
        <a [routerLink]="['']" style="color: white"> Home</a>
      </div>

      <div class="label">
        <mat-form-field>
          <input
            matInput
            [type]="'text'"
            #inputField
            placeholder="Chercher sur Buy Smart"
            (input)="handleSearchInput(inputField)"
          />
          <button mat-icon-button matSuffix (click)="search(inputField)">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-row">
        <a [routerLink]="['/my-list']" style="color: white"> My List</a>
        <a [routerLink]="['/auctions']" style="color: white"> Auctions</a>
        <a [routerLink]="['/my-page']" style="color: white"> My Page</a>
        <a [routerLink]="['/example-page']" style="color: white">
          Example Page</a
        >
      </div>
    </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
<div class="clear"></div>
<footer>
  <h1>Buy smart associates</h1>
</footer>
