<header>
  <h1>Buy Smart</h1>
</header>
<main>
  <p>
    Buy Smart est une plateforme de vente peer-to-peer (P2P) conçue
    spécifiquement pour répondre aux besoins des consommateurs et des vendeurs.
    Il s'agit d'une plateforme en ligne offrant aux utilisateurs la possibilité
    d'acheter et de vendre une variété d'articles à travers une application web
    conviviale.
  </p>
  <br />
  <p>
    La plateforme Buy Smart présente une interface utilisateur très intuitive et
    minimale, permettant aux utilisateurs de naviguer facilement à travers les
    différentes catégories d'articles disponibles. Les utilisateurs peuvent
    explorer les annonces, consulter les descriptions détaillées des articles et
    ajouter leurs sélections à leur panier virtuel.
  </p>
  <br />
  <p>
    Buy Smart vise à simplifier la façon dont les consommateurs interagissent
    avec les vendeurs en offrant une expérience d'achat en ligne pratique,
    efficace et agréable. Elle facilite la vie des utilisateurs en leur
    permettant d'acheter une variété d'articles en quelques clics, tout en
    offrant aux vendeurs un moyen efficace de commercialiser leurs produits et
    de gérer leurs ventes en ligne
  </p>

  <section>
    <h2>Produits populaires</h2>
    <mat-card>
      <mat-card-header>
        <h1>Annonces</h1>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngFor="let annonce of annonces">
          <mat-card-content>
            <img
              src="http://localhost:3300/{{
                annonce.image_path.replace('\'', '/')
              }}"
            />
            <div class="major">
              <h1 label="name">{{ annonce.name }}</h1>
              <p label="product_type">{{ annonce.product_type }}</p>
              <p label="price">{{ annonce.price }}</p>
            </div>
          </mat-card-content></mat-card
        >
      </mat-card-content>
    </mat-card>
  </section>
</main>
