<header>
  <h1>Buy Smart</h1>
</header>
<main>
  <section>
    <h2>Produits populaires</h2>
    <mat-card>
      <mat-card-header>
        <h1>Annonces</h1>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngFor="let annonce of annonces">
          <mat-card-content>
            <img
              src="http://localhost:3300/{{
                annonce.image_path.replace('\'', '/')
              }}"
            />
            <div class="major">
              <h1 label="name">{{ annonce.name }}</h1>
              <p label="product_type">{{ annonce.product_type }}</p>
              <p label="price">{{ annonce.price }}</p>
            </div>
          </mat-card-content></mat-card
        >
      </mat-card-content>
    </mat-card>
  </section>
</main>
